
{% extends "base.html" %}

{% block title %}Track Yourself{% endblock %}
{% block content %}

<html lang="en" dir="ltr">
<head>
   <title> register</title>
   <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
   <style>
      body {background-color:#FFF;}
   </style>
   <script>
      function register() {
         window.opener.mainform.userName.value=document.loginform.userN.value;
         window.opener.mainform.passWord.value=document.loginform.userP.value;  
         window.close();
      }
      function cancel() {window.location = "/";}
   </script>
</head>
<body>
    <form name="requestform", method="post", action="register_auth/"> {% csrf_token %}
      <p>Thank you for registering to use Track Yourself! </p>
      <p>First Name : <input type="text" class = "form-control" name="userFN" size="25" onfocus="this.select();" /></p>
      <p>Last Name : <input type="text" name="userLN" size="25" onfocus="this.select();" /></p>
      <p>Email : <input type="text" name="userN" size="25" onfocus="this.select();" /></p>
      <p>Password : <input type="password" name="userP" size="25" onfocus="this.select();" /></p>
      <p>
         <input type="submit" class="btn btn-default" name="select" value="Register"  />
         <input type="button" class="btn btn-default" name="select" value="Cancel" onclick="cancel();" />
      </p>
   </form>
</body>
</html>

{% endblock content %}