{% extends "user.html" %}

{% block title %}View Summary{% endblock %}
{% block content %}
<head>
  <script type="text/javascript">

  function valid_input(input)
  {
    var check = parseInt(input)
    if (isNaN(check))
      return false;
    else
      return true;
  }

  function invalid_input(input)
  {
    alert("You have entered an invalid input. Please only enter integers");
    return false;
  }
$(document).ready(function () {
      $('#viewSumm').submit(function()
    {
        var Syear= $("input[name='Syear']").val();
        var Smonth= $("input[name='Smonth']").val();
        var Sday = $("input[name='Sday']").val();
        var Eyear= $("input[name='Eyear']").val();
        var Emonth = $("input[name='Emonth']").val();
        var Eday = $("input[name='Eday']").val();

        if (!(valid_input(Syear) && valid_input(Smonth) && valid_input(Sday) && valid_input(Eyear) && valid_input(Emonth) && valid_input(Eday)))
          return invalid_input();


        var checked = $("input[name='workout']:checked").size() + $("input[name='phys']:checked").size();

        if (Syear == "" || Smonth == "" || Sday == "" || Eyear == "" || Emonth == "" || Eday == "" || checked == 0) { 
            alert("Please fill out all of the fields");
            return false; 
        }
        if(checked > 1)
        {
          alert("You may only view one type of summary at a time, Please check Workouts or Physiological");
          return false;
        }
        if(Syear.length != 4 || Eyear.length != 4)
        {
          alert("Incorrect formatting of year please try again, ex:  2014");
          return false
        }
        if(Smonth.length != 2 || Emonth.length != 2 || Sday.length != 2 || Eday.length != 2)
        {
          alert("Incorrect formatting of month or day please try again, ex:  01");
          return false
        }

        // ... continue work
    });
});
</script>

</head>
<body>
          <h1 align="center">View Summary</h1>
          <p>If you would like to view a summary of either your workouts or physiological data, please click below:</p>

  

    <form class="form-horizontal" id = "viewSumm" role="form" name="viewsumform", method="post", action="/view_data_summary/">{% csrf_token %}
  <h4>Start Year:</h4>
  <div class="form-group">
    <label for="Syear" class="col-md-1 control-label" >Year</label>
    <div class="col-md-2">
     <input type="text" class="form-control" name="Syear" placeholder = "ex. 2014"></div>
          <label for="Smonth" class="col-md-1 control-label">Month</label>
    <div class="col-md-2">
      <input type="text" class="form-control" name="Smonth" placeholder = "ex. 08"></div>
          <label for="Sday" class="col-md-1 control-label">Day</label>
    <div class="col-md-2">
      <input type="text" class="form-control" name="Sday" placeholder = "ex. 01"></div>
  </div>
    <h4>End Year:</h4>
  <div class="form-group">
    <label for="Eyear" class="col-md-1 control-label">Year</label>
    <div class="col-md-2">
     <input type="text" class="form-control" name="Eyear" placeholder = "ex. 2014"></div>
          <label for="Emonth" class="col-md-1 control-label">Month</label>
    <div class="col-md-2">
      <input type="text" class="form-control" name="Emonth" placeholder = "ex. 09"></div>
          <label for="Eday" class="col-md-1 control-label">Day</label>
    <div class="col-md-2">
      <input type="text" class="form-control" name="Eday" placeholder = "ex. 01"></div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
      <div class="checkbox-inline">
        <label class = "col-md-6">
          <input type="checkbox" name="workout"> Workouts
        </label>
        <label class="col-md-6"> <input type="checkbox" name="phys"> Physiological</label> 
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary">View Summary</button>
    </div>
  </div>
</form>
		</body>
{% endblock %}